<!DOCTYPE html>
<html>

<head>

    <title>
        Organizations
    </title>

</head>

<body>

<h1>
    All Organizations
</h1>

<hr>

{% for organization in organizations %}

    <h2>
        {{ organization.organization_name }}
    </h2>

    <p>
        Email:
        {{ organization.email }}
    </p>

    <p>
        Working Hours:
        {{ organization.working_hours }}
    </p>

    {% if organization.logo %}

        <img src="{{ organization.logo.url }}"
             width="200">

    {% endif %}

    <hr>

{% endfor %}

</body>

</html>