<!DOCTYPE html>
<html>

<head>

    <title>
        Dashboard
    </title>

</head>

<body>

<h1>
    Dashboard
</h1>

<hr>

<a href="{% url 'profile' %}">
    Profile
</a>

<a href="{% url 'logout' %}">
    Logout
</a>

<hr>

<h2>
    Welcome to Dashboard
</h2>

<a href="{% url 'all_organizations' %}">
    View Organizations
</a>

<hr>


<h2>
    Your Token Information
</h2>

<p>
    <strong>Token Number:</strong>
    12
</p>

<p>
    <strong>Queue Position:</strong>
    4
</p>

<p>
    <strong>Status:</strong>
    Waiting
</p>


<hr>


<h2>
    Missed Booked Queue
</h2>

<p>
    <strong>Name:</strong>
    Square Health Center
</p>

<p>
    <strong>Time:</strong>
    5 PM
</p>

<p>
    <strong>Status:</strong>
    Missed
</p>


<hr>


<h2>
    Notifications
</h2>

<p>
    Your estimated waiting time is 15 minutes.
    Please keep waiting.
</p>

</body>
</html>